:root {
  /* color  */
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-Text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b3;
  --light-background: #ffffff;
  --modal-background: #fcfcfc;

  /* 
  1--color-iris: #4d5ae5;
	2--color-ocean: #404bbf;
	3--color-navy-blue: #2e2f42;
	4--color-green: #31d0aa;
	5--color-slate: #434455;
	6--color-light-slate: #8e8f99;
	7--color-cornflower: #e7e9fc;
	8--color-cloud: #f4f4fd;
	9--color-navy-blue-modal: #2e2f42;
	0--color-grey: #2e2f42;
	11--color-white: #ffffff;
	12--color-dairy: #fcfcfc;
  8E8F99 */
}

body {
  background-color: var(--light-background);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* logo-style */

.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-decoration: none;
  display: block;
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

.logo-style-1 {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header {
  color: var(--dark);
}
.logo-footer {
  color: var(--light);

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-decoration: none;
}

/* header */

.header-nav-flex {
  display: flex;
  align-items: center;
}

.header-nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 24px 0;
}

.header-nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;

  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
}
.header-nav-link.active::after {
  color: var(--pressed-state);
  background-color: var(--pressed-state);
}

.active,
.mobile-menu .active {
  color: var(--pressed-state);
}

/* main */

/* Footer-input */

.footer-field {
  display: flex;
  flex-direction: column;
}

.footer-field label {
  margin-bottom: 16px;
}

.footer-field input {
  width: 264px;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 0.04em;

  padding: 8px 16px;

  color: var(--light-background);
  border-radius: 4px;
  border: 1px solid var(--light-background);
  background-color: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form input::placeholder {
  color: var(--light-background);
}

.footer-field input:focus {
  outline: none;
  border: 1px solid var(--pressed-state);
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-sgv {
  fill: var(--light-background);
  display: flex;
}

.footer-form-button {
  display: flex;
  width: 165px;
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.04em;

  padding: 8px 24px;
  gap: 16px;
  align-items: center;
  cursor: pointer;

  color: var(--light-background);
  background-color: var(--primary-brand);

  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--pressed-state);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* style button */

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  letter-spacing: 0.04em;
  color: var(--light-background);
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
}
.hero-button {
  line-height: 1.5;
  cursor: pointer;
  display: block;
  margin: auto;

  min-width: 169px;
  height: 56px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus,
.hero-button-text:hover,
.hero-button-text:focus {
  background-color: var(--pressed-state);
}

.btn-nav-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-nav-portfolio:hover,
.btn-nav-portfolio:focus {
  color: var(--light-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio */

.section-portfolio {
  padding: 96px 0 120px;
}
.list-project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.list-project-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.portfolio-list-txt {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.link-portfolio {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-portfolio:hover .portfolio-overlay {
  transform: translateY(0);
}
.link-portfolio:focus .portfolio-overlay {
  transform: translateY(0);
}

/* Overlay */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;

  top: 0;
  left: 0;
  background-color: var(--primary-brand);
  height: 100%;
  width: 100%;
  padding: 40px 32px;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-txt {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

/* Modal Window */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  visibility: visible;
  opacity: 1;
  pointer-events: initial;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Modal Form */

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%);

  max-width: 408px;

  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0;
  right: 24px;
  top: 24px;
  border: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  fill: var(--dark);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .modal-close-btn {
  position: absolute;

  min-width: 24px;
  min-height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0;
  right: 24px;
  top: 24px;
  border: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  fill: var(--dark);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  fill: #fff;
  border: none;
}

.modal-btn-send {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.modal-form p {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.modal-form .modal-text,
.modal-form .modal-tel,
.modal-form .modal-email,
.modal-form .modal-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  display: block;
  margin-bottom: 4px;
  margin-top: 8px;
}

.modal-list {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form .first-child,
.modal-form .last-child {
  margin-top: 0px;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;

  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--subtle-Text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .form-input:focus ~ .modal-icon {
  fill: var(--primary-brand);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .form-input:focus {
  border: 1px solid var(--pressed-state);
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
textarea {
  resize: none;
  width: 100%;
  height: 120px;

  border-radius: 4px;
  padding: 8px 16px;
}
textarea:focus {
  border-color: var(--pressed-state);
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list-comment {
  margin-bottom: 15px;
}

.modal-form {
  color: var(--subtle-Text);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--dark);
  pointer-events: none;
}

.form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}

.modal-form-agreement-txt {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-Text);
}

.modal-form-input-check {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--dark);
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.77941 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
}

.modal-form-input-check:checked {
  border: 1px solid var(--pressed-state);
  background-color: var(--pressed-state);
  border-radius: 2px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-privacy-policy {
  text-decoration: underline;
  color: var(--primary-brand);
}

/*/*/ /*/*/ /*///*/ /*/*/ /*//NEW STYLE CSS//*/ /*//*/ /*//*/ /*/ /*/ /*/ /*/

.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* tablet screen */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* desktop screen */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* SECTION HEADER */
.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-flex-address {
  display: flex;
  row-gap: 12px;
  column-gap: 40px;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .header-flex-address {
    flex-direction: row;
  }
}

@media only screen and (max-width: 767px) {
  .header-flex-address {
    display: none;
  }
}
.header-flex {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 24px 16px;
}
@media only screen and (min-width: 768px) {
  .header-flex {
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.header-titls {
  justify-content: space-between;
  display: flex;
  gap: 40px;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header-titls {
    display: none;
  }
}
.header-address {
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-left: auto;
}
@media only screen and (min-width: 1200px) {
  .header-address {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
}

/* HERO */
.hero {
  background-color: var(--dark);
  text-align: center;
  height: 432px;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile-people-office@1x.jpg);
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 436px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile-people-office@2x.jpg);
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-people-office@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tablet-people-office@2x.jpg);
    }
  }
}
@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dekstop-people-office@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dekstop-people-office@2x.jpg);
    }
  }
}

.hero-txt {
  color: var(--light-background);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-txt {
    font-size: 56px;
    line-height: 1.07;
  }
}

/* Section 2 */
.icon-features {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .icon-features {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
.main-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 72px;
  column-gap: 24px;
}
@media only screen and (min-width: 768px) {
  .main-flex {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .list-headline-item {
    width: calc((100% - 56px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .list-headline-item {
    width: calc((100% - 72px) / 4);
  }
}

.section-list {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--dark);
}
@media only screen and (min-width: 768px) {
  .section-list {
    text-align: start;
  }
}
@media only screen and (min-width: 1200px) {
  .section-list {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
}
.section-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.list-icon {
  width: 64px;
  height: 64px;
  background-color: var(--light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section 3 */
.section-doing {
  display: flex;
  gap: 24px;
}

.section-doing-item {
  width: calc((100% - 48px) / 3);
}

.section-about {
  color: var(--dark);
  padding: 0 0 120px;
}
@media only screen and (max-width: 1200px) {
  .section-about {
    display: none;
  }
}
/* Section 4 */
.team {
  background-color: var(--light);
}
.section {
  color: var(--dark);
  padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}
.section-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team-flex {
  display: flex;
  row-gap: 72px;
  column-gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .section-team-flex {
    row-gap: 64px;
  }
}
.section-team-item {
  background-color: var(--light-background);
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.section-name-prof {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.section-item {
  padding: 32px 0;
  text-align: center;
}
.list-media {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.mobile-list-media {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .mobile-list-media {
    margin-top: 48px;
  }
}
.icon-media {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.icon-mobile-media {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.icon-link {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: var(--primary-brand);
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: var(--light);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: var(--pressed-state);
}

/* Section 5 */

.container-customer {
  display: flex;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .container-customer {
    column-gap: 24px;
  }
}
.customer-link {
  height: 88px;
  width: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--pressed-state);
  border: 1px solid var(--pressed-state);
}

.healine-customer {
  margin-bottom: 72px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.1;
}

.icon-customer {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* SECTION FOOTER */
.footer-txt {
  color: var(--light);
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.footer-list-media {
  display: flex;
  gap: 16px;
}

.footer-icon-link {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: var(--primary-brand);
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: var(--light);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-media {
  width: 24px;
  height: 24px;

  fill: currentColor;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer {
  background-color: var(--dark);
  padding: 96px 0;
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-display-container {
  display: flex;
  align-items: baseline;
  row-gap: 72px;
  column-gap: 24px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  .footer-display-container {
    display: flex;

    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    max-width: 552px;

    max-width: 552px;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-display-container {
    flex-wrap: nowrap;
    max-width: 1128px;
    column-gap: 0;
  }
}
.footer-form {
  display: flex;
  align-items: flex-end;
  row-gap: 16px;
  column-gap: 24px;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    align-items: flex-end;
  }
}
.link-logo-footer {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .link-logo-footer {
    text-align: left;
  }
}
.footer-social-media {
  color: var(--light-background);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-social-media {
    text-align: left;
  }
}
.footer-logo-txt {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .footer-logo-txt {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-logo-txt {
    margin-right: 120px;
  }
}

.footer-media {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .footer-media {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-media {
    margin-right: 80px;
  }
}
.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-form-title {
    text-align: left;
  }
}
/* SECTION PORTFOLIO */
.portfolio-bnt-flex {
  display: flex;
  justify-content: start;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;

  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .portfolio-bnt-flex {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .portfolio-bnt-flex {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .portfolio-bnt-flex {
    margin-bottom: 72px;
  }
}
.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio-flex {
    column-gap: 18px;
  }
}

/* MOBILE MENU */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px 35px 40px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  display: block;
  text-decoration: none;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--pressed-state);
}
.menu-hamburger {
  width: 32px;
  height: 22px;
  stroke: var(--dark);
}

.mobile-menu-tel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--primary-brand);
}
@media only screen and (min-width: 424px) {
  .mobile-menu-tel {
    font-size: 36px;
  }
}
.mobile-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--text);
}
.mobile-menu-content {
  display: flex;
  flex-direction: column;
}
